.chart-selector {
  position: relative;
  font-size: 0.8em;
  color: grey;
  cursor: pointer;
  min-width: 25%;
  text-align: right;
}

.chart-selector__chevron {
  transition: transform ease-in-out 0.3s
}
.chart-selector:hover .chart-selector__chevron {
  transform: rotate(90deg)
}
.chart-selector__chevron--open{
  transform: rotate(90deg)
}
.chart-selector__options {
  position: absolute;
  right: 0px;
  background: white;
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border: 1px solid var(--green);
  border-radius: 0.5rem;
}
.chart-selector__options__option {
  margin: 0.7rem 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  white-space: nowrap;
  transition: color ease-in-out 0.1s;

}
.chart-selector__options__option:hover {
  color: #3EA060
}

.chart-selector__options__option--selected {
  color: #3EA060
}
@media screen and (max-width: 700px){
  .chart-selector__options {
    width: 95vw;
    padding: 1rem;
    border: none;
    border-radius: 0;
  }
  .chart-selector__options__option {
    font-size: 1.7rem;
    text-align: center;
    margin: 2rem 0
  }
}