@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap');

/*@import url('https://fonts.googleapis.com/css?family=Lato'); */
/*
HEADERS: font-family: 'Inter', sans-serif;
BODY: font-family: 'Lato', sans-serif;

PALETTE:

cream  - green  - yellow - orange - navy
F75C03 - 3EA060 - FFD400 - EE6352 - 2E294E 


*/

/************************************
 * OVERRIDE ANNOYING DEFAULT STYLES *
 ************************************/

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/******************
 * GLOBAL CLASSES *
 ******************/
:root {
  --green: #3EA060;
  --yellow: #FFD400;
  --orange: #EE6352
}

.orange {
  color: var(--orange);
}

.header {
  font-family: 'Inter', sans-serif;
}
.text {
  font-family: 'Inter', sans-serif;

  /*font-family: 'Lato', sans-serif;*/
}
.highlighted{
  position:relative;
}
.highlighted:before{
  content:"";
  background-color: var(--yellow);
  width:90%;
  height:1em;
  position:absolute;
  transform: rotate(-3deg);
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.15em;
  top:0.1em;
  padding:0 0.25em;
}

.icon {
  margin: 0 0.5rem
}
.only-mobile {
  display: none;
}

/*******************************
 * MAKING IT MOBILE RESPONSIVE *
 *******************************/
@media screen and (max-width: 700px){
  :root {
    font-size: 62.5%;
  }
  .only-mobile {
    display: inherit;
  }
}